{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>


<script>
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
	var current_active_user = "{{=None if auth.user is None else auth.user.email}}";
	
    var is_logged_in = {{='false' if auth.user is None else 'true'}};

	
</script>

{{end}}




<head>
   <title>Nalowale</title>

</head>
<div id=vue-div>
<div class = "add_post" id="add_post">
	

	  
	  
	<div class = entry_field>
		<div class = "container form_row">
			<input type="radio" v-model="picked" value="Lost">
			<label for="one">Lost</label>
			<br>
			<input type="radio"  v-model="picked" value="Found">
			<label for="two">Found</label>
			<br>
			

		</div>
	</div>
	
	
	
	<div class = "entry_field">
      <div class="container form_row">

        <div class="form threequarters">
			<div class = "my_prompts">
			  
    			  <p>Title:</p>
			  </div>

          <textarea class="form-control" v-on:keyup="title_countdown" v-model="form_title" placeholder="Enter the post title" maxlength="50"></textarea>
	      <div class='character_count'>${title_remainingCount} Characters Remaining</div>
		  
        </div>
      </div>
  </div>
  
  
  <div class = "entry_field">
      <div class="container form_row" class = "entry_field">

        <div class="form threequarters">
			<div class = "my_prompts">
    		  <p>Description:</p>
		  </div>
          <textarea class="form-control" v-on:keyup="description_countdown" v-model="form_description" placeholder="Enter a description of your item" maxlength="300"></textarea>
	      <div class='character_count'>${description_remainingCount} Characters Remaining</div>
        </div>
      </div>
  </div>
  
  
  
  <div class = "entry_field">
	  <div class="container form_row">

      	<div class="form threequarters">
			<div class = "my_prompts">
    		  <p>City:</p>
		  </div>
            <textarea class="form-control" v-on:keyup="city_countdown" v-model="form_city" placeholder="Enter the city where your item was lost" maxlength="30"></textarea>
  	      <div class='character_count'>${city_remainingCount} Characters Remaining</div>
      	</div>
  	  </div>
  </div>
  
  
  
  <div class = "entry_field">
	  <div class="container form_row">

      	<div class="form threequarters">
			<div class="my_prompts">
    		  <p>GPS Coordinates:</p>
		  </div>
        	<input v-model="form_gps" placeholder="Copy and paste a GPS coordinate hyperlink"/>
      	</div>
	 </div>
 </div>
 
 
 
 <div class = "entry_field">
	  <div class="container form_row">
      	<div class="label quarter">
			<div class="my_prompts">
    		  <p>Image Upload:</p>
		  </div>
     	 </div>
      	<div class="form threequarters">
            <div id="uploader_div" style="display:none">
              Upload an image file: <input id="file_input" type="file" v-on:change="upload_file" accept="image/jpeg">
            </div>
             <button v-if="!is_uploading" v-on:click="open_uploader"><i class="fa fa-plus-square"></i></button>
             <button v-if="is_uploading"  v-on:click="close_uploader">Cancel</button>
			 <img v-if="show_img" v-bind:src="img_url" />
		 
      	</div>
	 </div>
 </div>
 
 
 
      <div class = "add_button">
		  <button id="add-post" v-on:click="add_post">Submit</button>
	  </div>
</div>
</div>

<script src="{{=URL('static', 'js/add_post_js.js')}}"></script>
